
body{
    background-color: wheat;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
img {
    max-width: 300px;
    height: auto;
    margin: 10px;
}

th {
    padding: 5px 30px;
}

#attackEffect {
    visibility: hidden
}